<!-- PHP -->
<!-- 
	include_once('commun/functions.php');
if (function_exists('print_arch_favicon')) {
    echo print_arch_favicon();
}
-->
<!-- ENDPHP -->

<div id="archnavbar" class="anb-home">
	<div id="archnavbarlogo">
		<h1><a href="//www.archlinux-es.org" title="Arch Linux">Arch Linux</a></h1>
	</div>
	<div id="archnavbarmenu">
		<i id="archnavbaropenmenu"></i>
		<ul id="archnavbarlist"><li id="anb-home" class="anb-selected"><a target="_top" href="//www.archlinux-es.org/" title="Sitio de Arch Linux">Portada</a></li>
		<li id="anb-forums" ><a target="_top" href="//foros.archlinux-es.org/" title="Foros de Arch Linux">Foros</a></li>
		<li id="anb-wiki" ><a target="_top" href="//wiki.archlinux.org/" title="Wiki de Arch Linux">Wiki</a></li>
		<li id="anb-bugs" ><a target="_top" href="//bugs.archlinux.org/" title="Enlace a bugs.archlinux.org">Bugs</a></li>
		<li id="anb-packages" ><a target="_top" href="//www.archlinux.org/packages/" title="Enlace a archlinux.org">Paquetes</a></li>
		<li id="anb-aur" ><a target="_top" href="//aur.archlinux.org/index.php?setlang=es" title="Enlace a aur.archlinux.org">AUR</a></li>
		<li id="anb-download" ><a target="_top" href="//www.archlinux-es.org/descarga" title="Descarga Arch Linux">Descargar</a></li>
		<li id="anb-planet" ><a target="_top" href="//planeta.archlinux-es.org/" title="Planeta Hispano de Arch Linux">Planeta</a></li>
		</ul>
	</div>
</div>

